
@import url('sections/background-image.css');

@import url('sections/nav.css');

@import url('sections/hero.css');

@import url('sections/Our.css');

@import url('sections/sdk.css');
@import url('sections/Tech.css');
@import url('sections/community.css');
@import url('sections/Mandela.css');
@import url('sections/TeamMember.css');
@import url('sections/Connections.css');
@import url('sections/footer.css');
@import url('sections/mande__logo.css');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width:min-content;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
:root{
    --tw-ring-offset-shadow: 0 0 #0000; /* Setting no visible ring offset shadow */
    --tw-shadow-color: #1f2937;
    --tw-shadow-colored: inset -12px -8px 40px var(--tw-shadow-color); 
    --tw-shadow: var(--tw-shadow-colored);
}