.Connections{
   
    display:flex;
    gap:30px;
    background-color: black;
    color:white;
}

.Connections__left{
    width:1400px;
    height:378px;
    border:gray 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sora';
    position: relative;
  
    
}

.Connections__left h1{
    font-size: 46px;
    width: 515px;
    margin-right: 58px;
}

.Connections__right{
    border:gray 1px solid; 
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Sora';
    padding-left:30px;
    gap:30px;
    width:341px;
    position: relative;
}
.Connections__discord{
    display:flex;
    width:200px;
    justify-content: flex-start;
    font-family: 'Sora';
    font-size: 16px;
    font-weight: bolder;
}

.Connections__right-img{
    display: flex;
    justify-content: flex-start;
    width:200px;
    position:relative;
}

.Connections__right-para{
    width:200px;
}


.Connections__blur{
    position:absolute;
    background: rgba(33, 53, 119, 0.7);
    border-radius: 407px;
    font-size: 250px;
    height: 1em;
    width: 2.8em;
    filter: blur(130px);
   top:40px;
    right:400px;
    
    opacity:0.8;
    box-shadow: 0 0 1200px rgba(255, 255, 255, 0.5);
 
}

.Connections__blur2{
    position:absolute;
    background: rgba(33, 53, 119, 0.7);
    border-radius: 407px;
    font-size: 250px;
    height: 1em;
    width: 2.8em;
    filter: blur(130px);
   top:40px;
    right:400px;
    
    opacity:0.8;
    box-shadow: 0 0 1200px rgba(255, 255, 255, 0.5);
}


@media (max-width:950px){
    .Connections {
        display: flex;
        gap: 30px;
        background-color: black;
        color: white;
        flex-direction: column;
    }
    .Connections__left {
        width: 380px;
        padding:40px;
        text-align: start;
        
        
    }
    .Connections__right {
        width: 380px;
        padding:40px;
        text-align: start;
        
    }
}