.Our__img{
    
mix-blend-mode:difference;

    width:180px;
    height:180px;
    margin-top:10px;
}

.Our{
    display:flex;
    margin-top:50px;
    gap:20px;
    justify-content: center;
}

.Our__first-card{
    display:flex;
    flex-direction: column;
    width:1050px;
    height:500px;
    align-items: center;
    background-color: rgb(17, 17, 17);
    
    color:white;
    justify-content: center;
    border-radius: 15px;
    border:0.5px solid gray;
    opacity:0;
    transform:translateX(-70%);
    transition: opacity 0.8s linear, transform 0.8s linear;
    background: linear-gradient(180deg, rgba(102, 102, 102, 0) -46.96%, rgba(197, 199, 205, 0.05) 100%);
  backdrop-filter: blur(35px);
}

.Our__first-card.show{
    opacity:1;

    transform: translateX(0);
    
}



.Our__heading{
    font-size: 42px;
    width:300px;
    font-family: 'Sora';
    display:flex;
    flex-direction: column;
    align-items: center;

}

.Our__heading span{
display:flex;
justify-content: center;
}


.Our__para{
    font-family: 'Sora';
    font-size: 24px;
    width:360px;
    display:flex;
  flex-direction: column;
  align-items: center;

}

.Our__para span{
    display:flex;
    justify-content: center;
}


.Our__second-card{
  
    width:700px;
    background-color: rgb(17, 17, 17);
    color:white;
    
    gap:20px;
    border-radius: 15px;
    border:0.5px solid gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity:0;
    transform:translateX(70%);
    transition: opacity 0.8s linear, transform 0.8s linear;
    background: linear-gradient(180deg, rgba(102, 102, 102, 0) -46.96%, rgba(197, 199, 205, 0.05) 100%);
  backdrop-filter: blur(35px);
}



.Our__second-card.show{
opacity:1;
transform:translateX(0);

}

.Our__second-card-para{
    font-size: 20px;
    font-family: "Sora";
    width:350px;
}

.Our__second-card-para2{
    font-size: 20px;
    font-family: "Sora";
    width:350px;
}

.Our__second-card-para3{
    font-size: 18px;
    font-family: "Sora";

    width:400px;
    font-weight: bold;
    color:rgb(179,192,222,0.9);
  
 
}
/* 
.Our__second-card-para3{
    border-bottom:1px solid rgb(179,192,222,0.9) ;
   width:140px;
    margin-right:240px;
} */

.upward__arrow{
    cursor: pointer;
    width:20px;
    height:20px;
    
   margin-left:1px;
   object-fit: contain;
   vertical-align:middle;
 
}

.Learn__more{
    border-bottom:1px solid rgb(179,192,222,0.9) ;
   width:110px;
    margin-right:240px;
    
    

}





@media (max-width: 1000px){


    .Our__second-card{
        width:70%;
        padding:50px;
    }
    .Our__first-card{
        width:70%;
        padding:50px;
    }
}


@media (max-width:700px){
    .Our{
        display:flex ;
        flex-direction: column;
    }

    .Our__first-card{
        width:100%;
        padding:50px;
    }

    .Our__second-card{
        width:100%;
        padding:50px;
       
    }

}