.sdk-pic1 {
  width: 40px;
  height: 44px;
}

.SDK {
  display: flex;
  gap: 15px;

  margin-top: 60px;
  height: 618px;

  justify-content: center;
}

.SDK__card1 {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 14px;
  width: 980px;
  height: 100%;
  font-family: "Sora";
  background: linear-gradient(180deg, rgba(102, 102, 102, 0) -46.96%, rgba(197, 199, 205, 0.05) 100%);
  backdrop-filter: blur(35px);
  border: 0.5px solid gray;
  color: white;

  border-radius: 15px;

  opacity:0;
  transform:translateY(50%);
  transition:opacity 0.8s linear,transform 0.8s linear;
}

.SDK__card1.show{
opacity:1;
transform:translateY(0)
}

.SDK__card1 h4 {
  font-size: 50px;
  width: 400px;
}

.SDK__card1-explore {
  display: flex;

  height: 300px;
  align-items: flex-end;
  color: rgb(179, 192, 222, 0.9);
  font-weight: bold;
}

.SDK__card2 {
  display: flex;
  flex-direction: column;
  gap: 10px;

 
}



.SDK__card2-sub-card1 {
  width: 347px;
  height: 40%;

  
  border: 0.5px gray solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  opacity:0;
  transform:translateY(50%);
  transition:opacity 0.8s linear,transform 0.8s linear;
  background: linear-gradient(180deg, rgba(102, 102, 102, 0) -46.96%, rgba(197, 199, 205, 0.05) 100%);
  backdrop-filter: blur(35px);
  font-family: 'Sora';
  font-size: 14px;

  text-align: center;
  padding: 0 40px;
}

.SDK__card2-sub-card1.show{
  opacity:1;
  transform:translateY(0)
}

.SDK__card2-sub-card1-track {
  font-family: "Sora";
  color: white;
  font-size: 18px;
}

.SDK__card2-sub-card1-logs {
  font-family: "Sora";
  color: white;
  width: 196px;
  font-size: 12px;
  line-height: 18px;
}

.SDK__card2-sub-card2 {
  gap: 20px;
  height: 60%;
  background-color: rgb(17, 17, 17);
  border: 0.5px gray solid;
  width: 347px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Sora";
  opacity:0;
  transform:translateY(50%);
  transition:opacity 0.8s linear,transform 0.8s linear;
  background: linear-gradient(180deg, rgba(102, 102, 102, 0) -46.96%, rgba(197, 199, 205, 0.05) 100%);
  backdrop-filter: blur(35px);
}

.SDK__card2-sub-card2.show{
  opacity:1;
  transform:translateY(0)
}

.SDK__card3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.SDK__card3-sub-text1 {
  font-size: 18px;
}

.SDK__card3-sub-text2 {
  font-size: 14px;
}
.SDK__card3-sub-card3 {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Sora";
  gap: 20px;

  background-color: rgb(17, 17, 17);
  border: 0.5px gray solid;
  border-radius: 18px;
  opacity:0;
  transform:translateY(50%);
  transition:opacity 0.8s linear,transform 0.8s linear;
  background: linear-gradient(180deg, rgba(102, 102, 102, 0) -46.96%, rgba(197, 199, 205, 0.05) 100%);
  backdrop-filter: blur(35px);
}

.SDK__card3-sub-card3.show{
  opacity:1;
  transform:translateY(0)
}


.SDK__card3-sub-card4 {
  height: 40%;
  background-color: rgb(17, 17, 17);
  border: 0.5px gray solid;
  border-radius: 18px;
  color: white;
  font-family: "Sora";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity:0;
  transform:translateY(50%);
  transition:opacity 0.8s linear,transform 0.8s linear;
  background: linear-gradient(180deg, rgba(102, 102, 102, 0) -46.96%, rgba(197, 199, 205, 0.05) 100%);
  backdrop-filter: blur(35px);
  font-family: 'Sora';
  font-size: 14px;

  text-align: center;
  padding: 0 40px;
}

.SDK__card3-sub-card4.show{
  opacity:1;
  transform:translateY(0)
}


.SDK__card1 p {
  width: 490px;
}

.sdk-pic1 {
  width: 140px;
  height: 80px;
}



.SDK__card3-sub-text2{
    font-size: 14px;
    width:200px;
    font-family: 'Sora';
    margin:0 auto;
}

.SDK__card2-sub-text2{
   
    font-family: 'Sora';
    font-size: 14px;

    text-align: center;
    padding: 0 40px;

    
}

.SDK__card2-sub-text1{
    font-size: 18px;
}

.SDK__card4-sub-text2{
    font-size: 14px;
   
}

.SDK__explore{
    padding-bottom:2px;
    border-bottom:1.5px solid rgb(179,192,222,0.9) ;
    width:110px;
    margin-right:240px;
}

.SDK__card4-sub-text2 {
  font-size: 14px;

  text-align: center;
  padding: 0 40px;
}

@media (max-width:700px){
  .SDK{
    display:flex;
    flex-direction: column;
   margin-top:500px;
  }


  .SDK__card1{
    width:100%;
  }
  .SDK__card-col{
    display:flex;
    gap:20px;
  }

  .SDK__card2{
    display:flex;
    
 width:150px;
height:700px;

  
  
  }

  .SDK__card3{
    display:flex;
  
    height:700px;
    width:170px;
  }
  .SDK__card4-sub-text2{
   width:100%;
  }
  .SDK__card1 h4 {
    font-size: 31px;
    width: 269px;
}
.SDK__card1 p {
  width: 218px;
  text-align: start;
  font-size: 14px;
}
.SDK__card1-explore {
  display: flex;
  height: 88px;
  align-items: flex-end;
  color: rgb(179, 192, 222, 0.9);
  font-weight: bold;
}

.SDK__card2-sub-card1 {
  width:100%;
}
.SDK__card2-sub-card2 {
  width:100%;
  height:400px
}
.SDK__card3-sub-card1 {
  width:100%;
}


.SDK__card3-sub-text1 {
  font-size: 18px;
  /* margin: 0 auto; */
  text-align: center;
}

.SDK__card2-sub-card1-logs {
  font-family: Sora;
  color: white;
width:100px;
  font-size: 12px;
  line-height: 18px;
}

.SDK__card3-sub-text2{
  font-family: Sora;
  color: white;

  font-size: 12px;
  line-height: 18px;
  text-align: start;
  width:110px;

 
}
.SDK__card2-sub-text1 {
  font-size: 18px;
  text-align: center;
}
.SDK__card4-sub-text1{
  font-size: 18px;
  text-align: center;
}
.SDK__card4-sub-text2 {
  /* width: 100%; */
  width:100px;
  padding:0;
  font-size: 12px;
}
}

@media (min-width:800px){
  .SDK__card-col{
display:flex;
flex-direction: row;
gap:15px
  }


}